+++
title = "MyController.org"
linkTitle = "MyController.org"
+++

{{< blocks/cover title="Welcome to MyController" image_anchor="top" height="full" color="gray" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-success mr-4 mb-5 rounded-1" target="_blank" href="https://github.com/mycontroller-org">
		GitHub <i class="fab fa-github fa-lg ml-2"></i>
	</a>
	<a class="btn btn-lg btn-success mr-4 mb-5" target="_blank" href="https://demo-v2.mycontroller.org/">
		Demo <i class="fas fa-laptop ml-2"></i>
	</a>
	<a class="btn btn-lg btn-success mr-4 mb-5" href="{{< relref "/docs/overview/" >}}">
		Learn More <i class="fas fa-chevron-right ml-2"></i>
	</a>
	
	<p class="lead mt-3" style="font-size: 115%;">
		MyController is a flexible automation and sensor controller for IoT devices.<br>
		Whether in the home, at work, or wherever you need it, MyController provides the solution!<br>
		<br><b><u>Privacy focused</u></b> - working locally and not in the cloud means your data stays safely with you. Fully functional out of the box. No internet connection needed to run.<br>
		<b><u>Lightweight</u></b> - runs on both Windows and Linux including Raspberry Pi zero, 1, 2, 3, and 4. Requires only 50MB of memory and 100MB of disk.<br>
	</p>

</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="far fa-box" title="Download" %}}
[Executables](https://github.com/mycontroller-org/backend/releases)<br>
[Docker Hub](https://hub.docker.com/u/mycontroller)<br>
[Quay.io](https://quay.io/organization/mycontroller)<br>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="/docs/" %}}
We do a [Pull Request](https://github.com/mycontroller-org/backend/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/mycontrollerorg" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
